---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content h1 .anchor,
.page__content h2 .anchor,
.page__content h3 .anchor,
.page__content h4 .anchor,
.page__content h5 .anchor,
.page__content h6 .anchor {
  display: none;
}

/* Highlight active navigation link in masthead */
.masthead__menu-item .active { font-weight: bold; }

/* Increase "Recent Posts" heading size */
.archive__subtitle {
  font-size: 1.6em; /* Default is usually around 1.25em */
  margin-top: 2em;
  border-bottom: 2px solid #f2f3f3; /* Optional: adds a nice underline */
  padding-bottom: 0.5em;
}

/* Increase footer font size */
.page__footer {
  font-size: $type-size-4;
}
